
/*  background-attachment does the trick - Ez
    not sure what is this for because even if you remove this
    nothing happen on the page - Genesis */

/*
.cbp-section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.no-touch .cbp-fbscroller section {background-attachment: fixed;}
*/


/* --------- GRID EFFECT --------- */

/* General style */
/* need more time to clean this styles - Genesis */

.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;}
.grid-gallery figure {margin: 0;}
.grid-gallery figure img {
	display: block;
	width: 100%;}
.grid-gallery figcaption h3 {
	margin: 0;
	padding: .5em 0 0 0}
.grid-gallery figcaption p {margin: 0;}


/* Grid style */
/*.grid-wrap {
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1em 1.875em;}*/
.grid-wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0;}
.grid {margin: 0 auto;}
.grid li {
	width: 100%;
	float: left;
	cursor: pointer;}
.grid figure {
	/*padding: 15px;*/
    padding: 0;
	}
.grid figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
	padding: 25px;
	color:#fff;
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;}
.grid li:hover figcaption {opacity: 1;}


/* Menu */
/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../images/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}

/* Menu style */
.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.overlay ul li a {
    font-size: 54px;
    font-weight: 300;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #f0f0f0;
}

/* Effects */
.overlay-scale {
    visibility: hidden;
    opacity: 0;
    z-index: 9;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}